<!-- index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>CRUD App</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>CRUD App</h1>
      <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Name" required />
        <input type="number" name="age" placeholder="Age" required />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <% users.forEach((user) => { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text"><%= user.age %></p>
          <form action="/delete" method="POST">
            <input type="hidden" name="id" value="<%= user._id %>" />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <a href="/edit/<%= user._id %>" class="btn btn-warning">Edit</a>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
